@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html, body {
  @apply h-full;
}

body {
  @apply flex flex-col antialiased;
  @apply bg-gradient-to-br from-zinc-300;
}

h1 {
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}

.markdown-body {
  /* white-space: pre-wrap; */
  @apply !bg-transparent text-slate-700;
  /* background-color: transparent !important; */
}

.markdown-body pre > div {
  padding: 12px 16px !important;
}

.markdown-body p {
  @apply whitespace-pre-wrap;
}

.markdown-body ul li {
  @apply list-disc whitespace-normal;
}

.cm-editor {
  @apply !outline-none text-sm;
}
